<%= content_for :head do %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#form-female').hide();
		$('#form-male').hide();
		
		if ($("#user_infos_attributes_sex :selected").text() == "Mann") {
			$('#form-male').fadeIn('slow');
		}
		if ($("#user_infos_attributes_sex :selected").text() == "Frau") {
			$('#form-female').fadeIn('slow');
		}
		
		if ($("#user_infos_attributes_sex :selected").text() == "Paar") {
			$('#form-female').fadeIn('slow'); 
			$('#form-male').fadeIn('slow');
		}
		
	       $("#user_infos_attributes_sex").change(function(){

			($(this).val() == "Frau") ? $('#form-female').fadeIn() : $('#form-female').hide();
			($(this).val() == "Mann") ? $('#form-male').fadeIn() : $('#form-male').hide();
			if ($(this).val() == "Paar") {
				$('#form-female').fadeIn(); 
				$('#form-male').fadeIn();
			}		
	      });

	    });
	
</script>
<% end %>
<%= semantic_form_for(@user, :html => {:method => :put}) do |g| %>
	<%= g.inputs :name => 'infos', :for => :infos do |f|%>
	<%= f.inputs :id => "basic" do %>
      	<%= f.input :sex, :label => 'Geschlecht', :as => :select, :collection => ["Paar", "Mann", "Frau"], 
												  :include_blank => false %>
    <% end %>
	<%= f.inputs :id => "form-female",  do %>
	<h4>Sie:</h4>
		<%= f.input :age_f, :label => 'Alter' %>
		<%= f.input :height_f, :label => 'Gr&ouml;sse' %>
		<%= f.input :weight_f, :label => 'Gewicht' %>
		<%= f.input :hair_color_f, :label => 'Haarfarbe' %>
		<%= f.input :eye_color_f, :label => 'Augenfarbe' %>
		<%= f.input :appearance_f, :label => 'Erscheinungsbild' %>
		<%= f.input :smoking_f, :label => 'Raucher', :as => :select, 
					:collection => ["Nein", "Ja"], :include_blank => false %>
		<%= f.input :bi_tendency_f, :label => 'Bi-Neigung' %>
		<%= f.input :sex_tend_f, :label => 'Dominant/Devot' %>
	<% end %>
	
	<%= f.inputs :id => "form-male",  do %>
	<h4>Er:</h4>
		<%= f.input :age_m, :label => 'Alter' %>
		<%= f.input :height_m, :label => 'Gr&ouml;sse' %>
		<%= f.input :weight_m, :label => 'Gewicht' %>
		<%= f.input :hair_color_m, :label => 'Haarfarbe' %>
		<%= f.input :eye_color_m, :label => 'Augenfarbe' %>
		<%= f.input :appearance_m, :label => 'Erscheinungsbild' %>
		<%= f.input :smoking_m, :label => 'Raucher', :as => :select, 
					:collection => ["Nein", "Ja"], :include_blank => false %>
		<%= f.input :bi_tendency_m, :label => 'Bi-Neigung' %>
		<%= f.input :sex_tend_m, :label => 'Dominant/Devot' %>
	<% end %>
	
	<%= f.inputs :id => "form-common" do %>
      	<%= f.input :about_us, :label => '&Uuml;ber uns' %>
		<%= f.input :region, :label => 'Region' %>
		<%= f.input :mobility, :label => 'Mobilit&auml;t' %>
		<%= f.input :looking_for, :label => 'Ich/Wir suchen', :size => "30"%>
		<%= f.input :for_text, :label => 'f&uuml;r' %>
		<%= f.input :dislike, :label => 'M&ouml;gen wir nicht' %>
		<%= f.input :like, :label => 'M&ouml;gen wir' %>
		<%= f.input :to_do, :label => 'um zu????' %>
    <% end %>
	<%= f.buttons do %>
		<%= f.commit_button 'Submit' %>
	<% end %>
	<% end %>
<% end %>
