<table cellspacing="0" cellpadding="0" class="infos">
	<% if @user.infos.sex == "Frau" or @user.infos.sex == "Paar" %>
	<tr>
		<th>&nbsp;</th>
		<th><h5>Sie:</h5></th>
	</tr>
	<tr>
		<td class="categories">
				Infos:<br/>
				<% if current_user?(@user) %>
					<%= link_to "Edit", edit_user_path(@user) %>
				<% end %>
		</td>
		
		<td class="female-attributes">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="attributes">Alter:</td>
					<td class="values"><%= @infos.age_f%></td>
				</tr>
				<tr>
					<td>Gr&ouml;sse:</td>
					<td class="values"><%= @infos.height_f %></td>
				</tr>
				<tr>
					<td>Gewicht:</td>
					<td class="values"><%= @infos.weight_f %></td>
				</tr>
				<tr>
					<td>Haarfarbe:</td>
					<td class="values"><%= @infos.hair_color_f %></td>
				</tr>
				<tr>
					<td>Augenfarbe:</td>
					<td class="values"><%= @infos.eye_color_f %></td>
				</tr>
				<tr>
					<td>Erscheinungsbild:</td>
					<td class="values"><%= @infos.appearance_f %></td>
				</tr>
				<tr>
					<td>Raucher:</td>
					<td class="values"><%= smoking(@infos.smoking_f) %></td>
				</tr>
				<tr>
					<td>Bi-Neigung:</td>
					<td class="values"><%= @infos.bi_tendency_f %></td>
				</tr>
				<tr>
					<td>Dominant/Devot:</td>
					<td class="values"><%= @infos.sex_tend_f %></td>
				</tr>
			</table>
		</td>
	</tr>
	<% end %>
	<% if @user.infos.sex == "Mann" or @user.infos.sex == "Paar" %>
	<tr>
		<th>&nbsp;</th>
		<th><h5>Er:</h5></th>
	</tr>
	<tr>
	<tr>
		<td class="categories">
			Infos:<br/>
			<% if current_user?(@user) %>
				<%= link_to "Edit", edit_user_path(@user) %>
			<% end %>
		</td>
		<td class="male-attributes">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="attributes">Alter:</td>
					<td class="values"><%= @infos.age_m%></td>
				</tr>
				<tr>
					<td>Gr&ouml;sse:</td>
					<td class="values"><%= @infos.height_m %></td>
				</tr>
				<tr>
					<td>Gewicht:</td>
					<td class="values"><%= @infos.weight_m %></td>
				</tr>
				<tr>
					<td>Haarfarbe:</td>
					<td class="values"><%= @infos.hair_color_m %></td>
				</tr>
				<tr>
					<td>Augenfarbe:</td>
					<td class="values"><%= @infos.eye_color_m %></td>
				</tr>
				<tr>
					<td>Erscheinungsbild:</td>
					<td class="values"><%= @infos.appearance_m %></td>
				</tr>
				<tr>
					<td>Raucher:</td>
					<td class="values"><%= smoking(@infos.smoking_m) %></td>
				</tr>
				<tr>
					<td>Bi-Neigung:</td>
					<td class="values"><%= @infos.bi_tendency_m %></td>
				</tr>
				<tr>
					<td>Dominant/Devot:</td>
					<td class="values"><%= @infos.sex_tend_m %></td>
				</tr>
			</table>
		</td>
	</tr>
	<% end %>
	<tr>
		<td class="categories">
			&Uuml;ber uns:<br/>
			<% if current_user?(@user) %>
				<%= link_to "Edit", edit_user_path(@user) %>
			<% end %>
		</td>
		<td colspan="3">
			<%= @infos.about_us %>
		</td>
	</tr>
	<tr>
		<td class="categories">
			Was 
			<%= sexual_pronoun(@infos.sex) %> 
			<%= @infos.sex != "Paar" ? %(suche:) : %(suchen:) %><br/>
		</td>
		<td colspan="3">
			<%= @infos.for_text %>
		</td>
	</tr>
	<tr>
		<td class="categories">
			Was 
			<%= sexual_pronoun(@infos.sex) %>
			<%= @infos.sex != "Paar" ? %( mag:) : %( m&ouml;gen:) %><br/>
		</td>
		<td colspan="3">
			<%= @infos.like %>
		</td>
	</tr>
	<tr>
		<td class="categories">
			Was 
			<%= sexual_pronoun(@infos.sex) %> nicht 
			<%= @infos.sex != "Paar" ? %( mag:) : %( m&ouml;gen:) %><br/>
		</td>
		<td colspan="3">
			<%= @infos.dislike %>
		</td>
	</tr>
</table>
