<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  	<%= render 'layouts/stylesheets' %>
	<%= render 'layouts/javascripts' %>
  	<%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body>
	<div class="container">
		<section>
			<%= render 'layouts/header' %>
			<div id="wrapper">
				<% flash.each do |key, value| %>
				     <div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<h2><%= @user.name %>'s Profil </h2><h3><%= title %></h3>
				<%= render :partial => "/shared/user_navi" %>
				<div id="left-box">
					<%= render :partial => 'shared/left_box' %>
				</div>
				<div id="middle-box">
					<%= yield %>
				</div>
			</div>
			<div style="width: 29%; border: 1px solid blue; float: right;">
				placeholder for sidebar content!!!! wooohoooo
			</div>
		</section>
		<%= debug(params) if Rails.env.development? %>
	</div>
  </body>
</html>